@page
@model WebLab1_Levchenko.Areas.ApiDemo.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cats.CatsID" />
            <div class="form-group">
                <label asp-for="Cats.CatsName" class="control-label"></label>
                <input asp-for="Cats.CatsName" class="form-control" />
                <span asp-validation-for="Cats.CatsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cats.CatsColor" class="control-label"></label>
                <input asp-for="Cats.CatsColor" class="form-control" />
                <span asp-validation-for="Cats.CatsColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cats.Image" class="control-label"></label>
                <input asp-for="Cats.Image" class="form-control" />
                <span asp-validation-for="Cats.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cats.CatsWeight" class="control-label"></label>
                <input asp-for="Cats.CatsWeight" class="form-control" />
                <span asp-validation-for="Cats.CatsWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cats.CatsGroupID" class="control-label"></label>
                <select asp-for="Cats.CatsGroupID" class="form-control" asp-items="ViewBag.CatsGroupID"></select>
                <span asp-validation-for="Cats.CatsGroupID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

